### all ignore ###
/*
/.**


### not ignore ###
!/.bin/
!/.bin/**
!/.tmux.conf
!/.vimrc
!/.bashrc
!/.bashrc.d/
!/.bashrc.d/**
!/.bash_profile
!/.tmux.conf
!/.Xmodmap
!/.config/
!/.config/**

!/.gitignore
